.nav-color{
    background-color: rgb(81, 166, 231) !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

a{
    color: white !important;
}

html{
    background-color: rgb(237, 237, 237) !important;
}

body{
    background-color: transparent !important;
}

.head-right{
    text-align: right !important;
}

/* Estilos del nav */

img{
    width: 150px;
}

.menu-icon{
    width: 30px;
}

.nav-white{
    background-color: white;
    color: rgb(44, 44, 44) !important;
}

.align{
    vertical-align: middle !important;
}

.mar-left{
    margin-left: 10px;
}

.bg-darkgrey{
    background-color: rgb(59, 58, 65) !important;
    color: white;
    font-size: 15px;
}

#menu-1:hover > .submenu-1{
    display: inline-block !important;
    margin-left: 10vw;
}

#menu-2:hover .submenu-2{
    display: inline-block !important;
    margin-left: 8vw;
}

input{
    background-image: url("../img/icon.png") !important;
    background-size: 20px;
    background-position:95%;
    background-repeat: no-repeat;
}